{{ define "main" }}
    <h1 class="section-title">{{ .Title }}</h1>
        <!-- Sub-section should have table of contents -->
        {{ if .Parent.Section }}
            <div class="toc-bg"></div>
            <div class="toc-content-container">
                <aside class="toc">
                    {{ .TableOfContents }}
                </aside>
        {{ end }}
                <content>
                    <!-- Sub-section (e.g. Activity Sheets, Student Projects) should just show content of page -->
                    {{ .Content }}
                    <!-- Top-level section (e.g. Resources) should also show list of pages -->
                    {{ if not .Parent.Section }}
                        <ul class="pages {{ .Section }}">
                            {{ range .Pages }}
                                {{ if .Title }}
                                    <li>
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    <p><img src="/images/2021_lake-making-zoom-gallery.png" alt="Making and Knowing Lab student pigment cards 2021" width="640" height="360"/><img src="/images/
2016_kok-yellow-lake-making.jpg" alt="Making and Knowing Lab weld pigment beakers" width="640" height="360"/></p>
                    {{ end }}
                </content>
        {{ if .Parent.Section }}
            </div>
        {{ end }}
    </div>
{{ end }}
