// content page styling
content {
    display: block;
    padding: 30px;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
    table {
        border: 1px solid #d1d1d1;
        border-collapse: collapse;
        margin: 1.5rem 0;
    }
    th,
    td {
        border: 1px solid #d1d1d1;
        padding: 0.5rem;
    }
}

content.homepage > ul.resources + p,
main > content > ul.pages.resources + p {
    text-align: center;

    img {
        height: auto;
    }
}
