// content page styling
content {
    display: block;
    padding: 30px;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
}

content.homepage > ul.resources + p,
main > content > ul.pages.resources + p {
    text-align: center;

    img {
        height: auto;
    }
}
