@import "animation";
@import "breakpoints";

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    padding: 0px 20px;
    background-color: white;
    border-radius: 0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    & > ul {
        display: flex;
        list-style: none;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        li.home-link a img {
            width: 300px;
        }
        li.nav-item {
            display: block;
            height: 100%;
            font-size: 16px;
            margin-right: 5px;
            white-space: nowrap;
            margin-bottom: 15px;
            cursor: pointer;
            a {
                margin: 0 5px 15px 0;
                color: black;
                text-align: center;
                width: fit-content;
                text-decoration: none;
                font-family: "Lato", sans-serif;
                font-size: 16px;
                font-weight: 700;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    background-color: black;
                    width: 50%;
                    right: 25%;
                    bottom: -5px;
                    border-radius: 2px;
                }
            }
            &:hover a::before {
                background-color: #792421;
                text-decoration: none;
                height: 6px;
                bottom: -9px;
                -webkit-animation: slide-down 0.2s;
                -moz-animation: slide-down 0.2s;
                -ms-animation: slide-down 0.2s;
                -o-animation: slide-down 0.2s;
                animation: slide-down 0.2s;
            }
        }
    }
    @include for-desktop-up {
        padding: 5px 50px;
    }
}
