// define header bg URL relative to base URL
$header-bg: linear-gradient(
        to bottom,
        rgba(228, 210, 165, 0.9),
        rgba(230, 224, 193, 0.9),
        rgba(242, 230, 217, 0.9)
    ),
    url("{{ .Site.BaseURL }}/img/text-bg.png");

// imports
@import "base/animation";
@import "base/breakpoints";
@import "base/typography";

@import "components/accents";
@import "components/footer";
@import "components/homepage";
@import "components/nav";
@import "components/page";
@import "components/resources";
@import "components/toc";

// sitewide theme
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.15;
}
main {
    flex: 1 0 auto;
}
