@import "base/animation";
@import "base/breakpoints";
@import "base/typography";

@import "components/accents";
@import "components/footer";
@import "components/homepage";
@import "components/nav";
@import "components/page";
@import "components/resources";
@import "components/toc";

html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.15;
}
main {
    flex: 1 0 auto;
}