@import "base/animation";
@import "base/breakpoints";
@import "base/typography";

@import "components/accents";
@import "components/footer";
@import "components/homepage";
@import "components/nav";
@import "components/page";
@import "components/resources";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
a {
    text-decoration: none;
    &:hover {
        color: #cba374;
        fill: #cba374;
        text-decoration: underline;
    }
}
