<nav class="nav">
    <ul>
        {{ $currentPage := . }}
        <li class="home-link">
            <a href="{{ "/" | relURL }}">
                <img alt="{{ .Site.Title }} project logo" src="/img/mk-banner-logo.png" />
            </a>
        </li>
        {{ range .Site.Menus.main }}
            {{ if .Name }}
                <li class="nav-item">
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>