{{ define "main" }}
<content class="homepage">
    {{ .Content }}
    <ul class="resources">
        <li>
            <a href="/resources/syllabi/">Making & Knowing Syllabi</a>
        </li>
        <li>
            <a href="/resources/activity-sheets/">Lesson Plans for Hands-On</a>
        </li>
        <li>
            <a href="/resources/case-studies/">Using M&K Resources</a>
        </li>
        <li>
            <a href="/resources/student-projects/">Student Projects</a>
        </li>
        <li>
            <a href="/resources/reflection//">Reflections on Hands-On</a>
        </li>
        <li>
            <a href="/resources/digital/">Digital Fr. 640</a>
        </li>
    </ul>
    <p><img src="/images/Making and Knowing Lab spring 2018.jp" alt="Making and Knowing Lab spring 2018"/></p>
</content>
{{ end }}
